@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo 2", cursive;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
